<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reports</title>
  <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css"
        th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap-theme.min.css"
        th:href="@{/vendor/bootstrap/css/bootstrap-theme.min.css}">
  <link rel="stylesheet" href="../static/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css"
        th:href="@{/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css}">
<link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css"
      th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" th:href="@{/}">UReport Demo</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="#" th:href="@{/}">Demo</a></li>
      <li><a href="https://github.com/yingw/ureport-demo" target="_blank">Code</a></li>
      <li><a href="https://codeload.github.com/yingw/ureport-demo/zip/master" target="_blank">Download</a></li>
    </ul>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" >
        <li><a href="http://www.bstek.com/products/ureport" target="_blank"><i class="fa fa-home"></i> UReport</a></li>
        <li><a href="http://wiki.bsdn.org/pages/viewpage.action?pageId=76448364" target="_blank"><i class="fa fa-question-circle"></i> Doc</a></li>
        <li><a href="https://github.com/youseries/ureport" target="_blank"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container" style="padding: 40px 15px">

  <div class="page-header">
    <h1><i class="fa fa-bar-chart"></i> Reports </h1>
  </div>


  <ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
        <i class="fa fa-file text-primary"></i> File</a></li>
    <li role="presentation" class="">
      <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">
        <i class="fa fa-database text-primary"></i> Database</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home" aria-labelledby="home-tab">
      <br>
      <table class="table table-striped" id="report-table">
        <thead>
        <tr>
          <th>#</th>
          <th>Report Name</th>
          <th>Updated Time</th>
          <th data-sortable="false"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="report" type="com.bstek.ureport.provider.report.ReportFile"*/-->
        <!--/*@thymesVar id="reports" type="java.util.List"*/-->
        <tr th:each="report, iter : ${reports}">
          <td>[[${iter.count}]]</td>
          <td>[[${report.name}]]</td>
          <td th:text="${#dates.format(report.updateDate, 'yyyy-MM-dd HH:mm:ss')}">2018-04-18 00:00:00</td>
          <td class="text-right">
            <div class="btn-group" role="group">
              <!--/ureport/preview?_u=file:A.ureport.xml-->
              <div class="btn-group">
                <button title="Preview" value="Preview" class="btn btn-sm btn-info"
                        th:onclick="@{'window.open(\'/ureport/preview?_u=' + ${prefix} + ${report.name} + '\')'}">
                  <i class="fa fa-search-plus"></i> Preview
                </button>
              </div>
              <div class="btn-group">
                <!--/ureport/designer?_u=file:h2_users.ureport.xml-->
                <button title="Design" type="button" class="btn btn-sm btn-warning"
                        th:onclick="@{'window.open(\'/ureport/designer?_u=' + ${prefix} + ${report.name} + '\')'}">
                  <i class="fa fa-edit"></i> Design
                </button>
              </div>
              <div class="btn-group">
                <button title="Delete" type="button" value="Delete" class="btn btn-sm btn-danger"
                        th:onclick="@{'deleteReport(\'' + ${prefix} + ${report.name} + '\')'}">
                  <i class="fa fa-trash"></i> Delete
                </button>

              </div>

              <div class="btn-group" role="group">
                <button title="Export" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-download"></i> Export
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" th:href="@{'/ureport/pdf/show?_u=' + ${prefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-print"></i> Print</a></li>
                  <li><a href="#" th:href="@{'/ureport/pdf?_u=' + ${prefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-file-pdf-o"></i> PDF</a></li>
                  <li><a href="#" th:href="@{'/ureport/excel?_u=' + ${prefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-file-excel-o"></i> Excel</a></li>
                  <li><a href="#" th:href="@{'/ureport/word?_u=' + ${prefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-file-word-o"></i> Word</a></li>
                </ul>
              </div>
              <!--http://host[:port][/context-path]/ureport/pdf/show?_u=报表名称-->
              <!--http://host[:port][/context-path]/ureport/pdf?_u=报表名称-->
              <!--http://host[:port][/context-path]/ureport/word?_u=报表名称-->
              <!--http://host[:port][/context-path]/ureport/excel?_u=报表名称-->
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile" aria-labelledby="profile-tab">
      <br>
      <table class="table table-striped" id="report-table2">
        <thead>
        <tr>
          <th>#</th>
          <th>Report Name</th>
          <th>Updated Time</th>
          <th data-sortable="false"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="report" type="com.bstek.ureport.provider.report.ReportFile"*/-->
        <!--/*@thymesVar id="dbReports" type="java.util.List"*/-->
        <tr th:each="report, iter : ${dbReports}">
          <td>[[${iter.count}]]</td>
          <td>[[${report.name}]]</td>
          <td th:text="${#dates.format(report.updateDate, 'yyyy-MM-dd HH:mm:ss')}">2018-04-18 00:00:00</td>
          <td class="text-right">
            <div class="btn-group" role="group">
              <!--/ureport/preview?_u=file:A.ureport.xml-->
              <div class="btn-group">
                <button title="Preview" value="Preview" class="btn btn-sm btn-info"
                        th:onclick="@{'window.open(\'/ureport/preview?_u=' + ${dbPrefix} + ${report.name} + '\')'}">
                  <i class="fa fa-search-plus"></i> Preview
                </button>
              </div>
              <div class="btn-group">
                <!--/ureport/designer?_u=file:h2_users.ureport.xml-->
                <button title="Design" type="button" class="btn btn-sm btn-warning"
                        th:onclick="@{'window.open(\'/ureport/designer?_u=' + ${dbPrefix} + ${report.name} + '\')'}">
                  <i class="fa fa-edit"></i> Design
                </button>
              </div>
              <div class="btn-group">
                <button title="Delete" type="button" value="Delete" class="btn btn-sm btn-danger"
                        th:onclick="@{'deleteReport(\'' + ${dbPrefix} + ${report.name} + '\')'}">
                  <i class="fa fa-trash"></i> Delete
                </button>

              </div>

              <div class="btn-group" role="group">
                <button title="Export" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-download"></i> Export
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" th:href="@{'/ureport/pdf/show?_u=' + ${dbPrefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-print"></i> Print</a></li>
                  <li><a href="#" th:href="@{'/ureport/pdf?_u=' + ${dbPrefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-file-pdf-o"></i> PDF</a></li>
                  <li><a href="#" th:href="@{'/ureport/excel?_u=' + ${dbPrefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-file-excel-o"></i> Excel</a></li>
                  <li><a href="#" th:href="@{'/ureport/word?_u=' + ${dbPrefix} + ${report.name}}" target="_blank">
                    <i class="fa fa-file-word-o"></i> Word</a></li>
                </ul>
              </div>
              <!--http://host[:port][/context-path]/ureport/pdf/show?_u=报表名称-->
              <!--http://host[:port][/context-path]/ureport/pdf?_u=报表名称-->
              <!--http://host[:port][/context-path]/ureport/word?_u=报表名称-->
              <!--http://host[:port][/context-path]/ureport/excel?_u=报表名称-->
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="btn-toolbar">
    <button type="button" class="btn btn-embossed btn-success" th:onclick="@{'window.open(\'/ureport/designer\')'}">
      <i class="fa fa-plus"></i> Create New Report
    </button>
  </div>

</div>

<script src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../static/vendor/datatables.net/js/jquery.dataTables.min.js"
        th:src="@{/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
<script src="../static/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"
        th:src="@{/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>


<script th:inline="javascript">
  $(document).ready(function () {
      $('#report-table').dataTable({
          "language": {
              "url": /*[[@{'/vendor/datatables-i18n/i18n/zh-CN.json'}]]*/ "../static/vendor/datatables-i18n/i18n/zh-CN.json"
          }
      });
      $('#report-table2').dataTable({
          "language": {
              "url": /*[[@{'/vendor/datatables-i18n/i18n/zh-CN.json'}]]*/ "../static/vendor/datatables-i18n/i18n/zh-CN.json"
          }
      });
  });

  function deleteReport(id) {
      if (!confirm("Delete?")) {
          return;
      }
      $.ajax({
          url: "/reports/" + id,
          type: "DELETE",
          success: function () {
              alert("Deleted!");
              location.reload();
          },
          error: function (xhr, ajaxOptions, thrownError) {
              alert(xhr.status);
              alert(thrownError);
          }
      })
  }
</script>

</body>
</html>